In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import cross_validate
from xgboost import XGBClassifier
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [2]:
train_df = pd.read_csv("./Data/resources.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541272 entries, 0 to 1541271
Data columns (total 4 columns):
id             1541272 non-null object
description    1540980 non-null object
quantity       1541272 non-null int64
price          1541272 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 47.0+ MB

In [3]:
total_price = pd.Series(train_df['quantity'].fillna(0.0).astype(int) * train_df['price'].fillna(0.0).astype(float))
total_price = total_price.rename('total_price', axis='columns')
total_price.head(10)

0    149.00
1     44.85
2      8.45
3     27.18
4     74.85
5     16.99
6      9.95
7     20.22
8     19.90
9     18.04
Name: total_price, dtype: float64

In [4]:
train_df = pd.concat([train_df, total_price], axis=1)
train_df.head(10)

,id,description,quantity,price,total_price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95,44.85
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59,27.18
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95,74.85
5,p069063,Last to Finish: A Story About the Smartest Boy...,1,16.99,16.99
6,p069063,"Mrs. Gorski, I Think I Have the Wiggle Fidgets...",1,9.95,9.95
7,p069063,"See-N-Read 1503905CQ Reading Tool - Book Size,...",2,10.11,20.22
8,p096795,"Brewster WPD90218 Wall Pops Flirt Dot, Set of ...",2,9.95,19.90
9,p096795,Brewster Wall Pops WPE99065 Peel & Stick Calyp...,2,9.02,18.04

In [6]:
train_df['description'] = train_df['description'].replace('\n','', regex=True).replace(',','').replace('"','')
#apply(lambda d: d.str.strip())

In [7]:
grouped_by_id = train_df.groupby('id')
grouped_by_id.size().head(10)

id
p000001     4
p000002    14
p000003     4
p000004    95
p000005     4
p000006     5
p000007     1
p000008    80
p000009    38
p000010     1
dtype: int64

In [8]:
import functools

def f_reduce_sum(list):
    val = functools.reduce(lambda x, y: x + y, list)
    return round(val, 2)

def f_reduce_concat(list):
    return functools.reduce(lambda x, y: str(x) + ' ' 
                                       + str(y)
                           , list)

In [9]:
train_df_grp1 = grouped_by_id.count()
train_df_grp1.head(10)

         description  quantity  price  total_price
id
p000001            4         4      4            4
p000002           14        14     14           14
p000003            4         4      4            4
p000004           95        95     95           95
p000005            4         4      4            4
p000006            5         5      5            5
p000007            1         1      1            1
p000008           80        80     80           80
p000009           38        38     38           38
p000010            1         1      1            1

In [10]:
train_df_grp2 = grouped_by_id.agg({
            'description': f_reduce_concat,
            'quantity': f_reduce_sum,
            'total_price': f_reduce_sum
            })
train_df_grp2.head(10)

,description,quantity,total_price
id,,,
p000001,"Cap Barbell 300 Pound Olympic Set, Grey Cap Ba...",7,833.63
p000002,10 Sony Headphones (BUY 9 GET 1 FREE) Belkin 6...,21,630.28
p000003,EE820X - Phonemic Awareness Instant Learning C...,4,298.97
p000004,A Bad Case of the Giggles Poems That Will Make...,98,1126.22
p000005,"Fitbit Zip Wireless Activity Tracker, Lime Fit...",8,702.31
p000006,Danny and the Dinosaur: 50th Anniversary Editi...,5,130.62
p000007,HP Chromebook 11 G4 11.6 Inch Laptop (Intel N2...,6,947.88
p000008,A Whale of a Tale Alvin and the Chipmunks Alvi...,80,296.99
p000009,Ball Don't Lie Baseball Card Adventure (4 Bk S...,45,335.40
p000010,"Easy Spanish Reader Premium, Third Edition: A ...",30,332.40

In [11]:
train_df_grp2['cnt_by_id'] = train_df_grp1['quantity']

In [12]:
train_df_grp2 = train_df_grp2.rename({'quantity':'total_quantity'}, axis='columns')
train_df_grp2

,description,total_quantity,total_price,cnt_by_id
id,,,,
p000001,"Cap Barbell 300 Pound Olympic Set, Grey Cap Ba...",7,833.63,4
p000002,10 Sony Headphones (BUY 9 GET 1 FREE) Belkin 6...,21,630.28,14
p000003,EE820X - Phonemic Awareness Instant Learning C...,4,298.97,4
p000004,A Bad Case of the Giggles Poems That Will Make...,98,1126.22,95
p000005,"Fitbit Zip Wireless Activity Tracker, Lime Fit...",8,702.31,4
p000006,Danny and the Dinosaur: 50th Anniversary Editi...,5,130.62,5
p000007,HP Chromebook 11 G4 11.6 Inch Laptop (Intel N2...,6,947.88,1
p000008,A Whale of a Tale Alvin and the Chipmunks Alvi...,80,296.99,80
p000009,Ball Don't Lie Baseball Card Adventure (4 Bk S...,45,335.40,38
p000010,"Easy Spanish Reader Premium, Third Edition: A ...",30,332.40,1
p000011,"Dixon Ticonderoga Pencils, No. 2, 96/Pk",20,251.80,1
p000012,"Big Joe Cube /w Ottoman in Smartmax, Black Qua...",2,135.98,2
p000013,Balance Buddy Bolster Swing For OntheGo 3 Swin...,4,2626.63,4
p000014,Classic Royal Reading Writing Center,1,300.78,1
p000015,Apple - iPad Air 2 Wi-Fi 32GB - Silver,1,399.99,1
p000016,"Scholastic News, Grade 4 (min. 10 subscription...",60,187.20,2
p000017,Wire Mesh Wall Mounted or Freestanding Documen...,16,367.84,1
p000018,DD358 - Cells & Organisms Activity Tub - Gr. 4...,2,474.05,2
p000019,"Ozobot Evo Starter Pack, the STEM Robot Toy wi...",12,934.26,3
p000020,Lenovo N22 Chromebook 80SF - 11.6' - Celeron N...,5,741.95,1
p000021,6 Color Glitter Glue Set (6.7oz - 200 ml Bottl...,7,101.17,6
p000022,Bose SoundLink Color Bluetooth Speaker (Mint),1,116.00,1
p000023,"Lenovo ThinkPad 13 Chromebook - Celeron 3855U,...",3,539.97,1
p000024,Samsung - Galaxy Tab A (2016) - 7'- 8GB - Silver,5,471.90,1
p000025,MK-SWB Makala Waterman Ukulele UKE-1 Chroma Pi...,20,362.25,4
p000026,"A Bad Kitty Christmas A Word a Day, Grade 1 A ...",29,461.97,27
p000027,BALL INFLATABLE THERAPY AND EXERCISE 65CM BALL...,15,823.98,12
p000028,"Apple iPad Air MD785LL/B (16GB, Wi-FI, Black w...",4,637.74,2
p000029,HH650X - Big Book Storytelling Activity Kits -...,4,865.95,4
p000030,Gaiam Backless Balance Ball Chair Purple Intex...,16,424.81,3
...,...,...,...,...
p260086,Google EDU Management Console License Lenovo N...,10,871.95,2
p260087,Osmo Coding Set Osmo Genius Kit Osmo Pizza Co....,5,379.94,4
p260088,"10 Vocabulary Card Games: Easy-to-Play, Reprod...",7,107.16,7
p260089,Art1st Watercolor Paper Binney & Smith Crayola...,29,157.65,14
p260090,Bostitch Executive Electric Pencil Sharpener D...,34,214.08,8
p260091,Apple iPad Air 2 Wi-Fi - tablet - 16 GB - 9.7'...,6,1259.55,2
p260092,Home-Complete 4 Resistance Exercise Loop Bands...,15,214.75,3
p260093,Apple - iPad� mini 2 with Wi-Fi - 32GB - Space...,6,955.74,2
p260094,10203-1103: Blick Economy Buff Manila Drawing...,201,487.63,11
p260095,AA508 - Lakeshore Active Play Kit Annie's Home...,11,485.32,11
p260096,PP380X - Folk Tales Problem Solving STEM Kits ...,6,367.96,6
p260097,Alumagoal Recreational 8' x 24' x 5' x 10' Soc...,6,599.94,3
p260098,GBC HeatSeal Pinnacle 27 EZLoad Thermal Roll L...,12,2743.58,4
p260099,Blue 12-Rung 15 feet Durable Agility Ladder - ...,4,243.42,4
p260100,AcuRite 02042 Digital Thermometer with 10' Tem...,12,157.28,4
p260101,Best of Sewing Machine Fun For Kids -The Michl...,8,405.84,7
p260102,HP Chromebook 11 G5 - 11.6' - Celeron N3060 - ...,2,314.00,1
p260103,LC102 - Charcoal Round Carpet - 9',1,339.00,1
p260104,KIT DSM-3 EARTH PROCESSES KIT STATIC ELEC SUPP...,2,702.96,2
p260105,1 Roll ~ Plain Name Tag Stickers / Nametags ~ ...,22,294.06,9
p260106,UE - BOOM 2 Wireless Bluetooth Speaker - Tropical,1,129.02,1
p260107,Ancient Civilizations (8 Bk Set) Assorted Fict...,12,497.58,12
p260108,Agate Light Table Slices (set of 12) Animal X-...,8,581.08,8
p260109,HP Chromebook 11 G4 11.6 Inch Laptop (Intel N2...,2,317.98,1
p260110,Lenovo - IdeaPad 100s 11.6'Chromebook - Intel ...,3,449.97,1
p260111,"Anna, Banana, and the Big-Mouth Bet Anna, Bana...",27,176.08,27
p260112,Melissa & Doug Felt Food - Sandwich Set Meliss...,6,119.37,2
p260113,Bose� - SoundLink� Mini Bluetooth Speaker II -...,3,811.49,3
p260114,AA622 - Missing Addend Addition Fluency Puzzle...,39,749.27,10
p260115,Samsung Chromebook 3 XE500C13-K01US 2 GB RAM 1...,2,318.97,2

In [13]:
train_df_grp2.head(10)

,description,total_quantity,total_price,cnt_by_id
id,,,,
p000001,"Cap Barbell 300 Pound Olympic Set, Grey Cap Ba...",7,833.63,4
p000002,10 Sony Headphones (BUY 9 GET 1 FREE) Belkin 6...,21,630.28,14
p000003,EE820X - Phonemic Awareness Instant Learning C...,4,298.97,4
p000004,A Bad Case of the Giggles Poems That Will Make...,98,1126.22,95
p000005,"Fitbit Zip Wireless Activity Tracker, Lime Fit...",8,702.31,4
p000006,Danny and the Dinosaur: 50th Anniversary Editi...,5,130.62,5
p000007,HP Chromebook 11 G4 11.6 Inch Laptop (Intel N2...,6,947.88,1
p000008,A Whale of a Tale Alvin and the Chipmunks Alvi...,80,296.99,80
p000009,Ball Don't Lie Baseball Card Adventure (4 Bk S...,45,335.40,38
p000010,"Easy Spanish Reader Premium, Third Edition: A ...",30,332.40,1

In [14]:
import csv
train_df_grp2.to_csv("B01.csv", index=True, quoting=csv.QUOTE_NONNUMERIC , quotechar='"')

In [ ]:
#dummy_df = pd.read_csv("B01_dummy.csv")
#dummy_df.info()