In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import cross_validate
from xgboost import XGBClassifier
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [2]:
train_df = pd.read_csv("./Data/train.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 12 columns):
datetime         207 non-null object
y                207 non-null int64
week             207 non-null object
soldout          207 non-null int64
name             207 non-null object
kcal             166 non-null float64
remarks          21 non-null object
event            14 non-null object
payday           10 non-null float64
weather          207 non-null object
precipitation    207 non-null object
temperature      207 non-null float64
dtypes: float64(3), int64(2), object(7)
memory usage: 19.5+ KB

In [ ]:
#train_df[train_df['project_is_approved']==1].head(100)

In [ ]:
#train_df[train_df['project_is_approved']==0].head(100)

In [3]:
train_df.isnull().sum()

datetime           0
y                  0
week               0
soldout            0
name               0
kcal              41
remarks          186
event            193
payday           197
weather            0
precipitation      0
temperature        0
dtype: int64

In [4]:
train_corr = train_df.corr()
train_corr

                    y   soldout      kcal  payday  temperature
y            1.000000  0.098308  0.147269     NaN    -0.655332
soldout      0.098308  1.000000  0.048633     NaN    -0.156752
kcal         0.147269  0.048633  1.000000     NaN    -0.046191
payday            NaN       NaN       NaN     NaN          NaN
temperature -0.655332 -0.156752 -0.046191     NaN     1.000000

In [ ]:
train_df["teacher_id"].unique().size

In [ ]:
train_df["project_grade_category"].unique()

USのGradesの詳細を調査

| Age | US Grades | School | encode value |
|----|----|----|----|
| 4-5 | Pre-Kindergarten | Early Childhood | 0 |
| 5-6 | Kindergarten | Early Childhood | 0 |
| 6-7 | 1st Grade | Lower School | 0 |
| 7-8 | 2st Grade | Lower School | 0 |
| 8-9 | 3st Grade | Lower School | 1 |
| 9-10 | 4st Grade | Lower School | 1 |
| 10-11 | 5st Grade | Middle School | 1 |
| 11-12 | 6st Grade | Middle School | 2 |
| 12-13 | 7st Grade | Middle School | 2 |
| 13-14 | 8st Grade | Middle School | 2 |
| 14-15 | 9st Grade | High School | 3 |
| 15-16 | 10st Grade | High School | 3 |
| 16-17 | 11st Grade | High School | 3 |
| 17-18 | 12st Grade | High School | 3 |

project_grade_categoryをカテゴリ値にencodingする。

In [ ]:
train_df["school_state"].unique()

In [ ]:
train_df["teacher_prefix"].unique()

In [ ]:
train_df["project_subject_categories"].unique()

In [ ]:
from my_modules.my_encoder import CategoryValueEncoder as CVE
from my_modules.my_encoder import TextValueEncoder as TVE
from my_modules.my_encoder import DateValueEncoder as DVE
from my_modules.my_encoder import NumericValueEncoder as NVE

train_df_encode = pd.DataFrame()
train_df_encode = pd.concat([train_df_encode,
                            train_df['id'],                             
                            train_df['project_is_approved'],
                            CVE(train_df['project_grade_category']).to_binary_encoding(),
                            CVE(train_df['school_state']).to_binary_encoding(),
                            CVE(train_df['teacher_prefix']).to_binary_encoding(),
                            CVE(DVE(train_df['project_submitted_datetime']).to_year()).to_binary_encoding(),
                            CVE(DVE(train_df['project_submitted_datetime']).to_month()).to_binary_encoding(),
                            CVE(DVE(train_df['project_submitted_datetime']).to_day()).to_binary_encoding(),
                            CVE(DVE(train_df['project_submitted_datetime']).to_dayofweek()).to_binary_encoding(),
                            TVE(train_df['project_subject_categories']).to_bow_encoding(),
                            TVE(train_df['project_subject_subcategories']).to_bow_encoding(),  
                            #TVE(train_df['project_title']).to_bow_encoding(),  
                            NVE(train_df['teacher_number_of_previously_posted_projects']).normalize()                          
                           ], axis=1)

In [ ]:
# train_df = pd.concat([train_df, TVE(train_df['project_title']).to_bow_encoding()], axis=1)
# MemoryError:
# 30000データ投入で、10000語程度できる。語幹が同じ単語も多い。

In [ ]:
#この項目を追加すると、正解率15%になる。数値が大きいから？
#train_df_encode = pd.concat([train_df_encode, train_df['teacher_number_of_previously_posted_projects']], axis=1)

In [ ]:
train_df_encode.info()

In [ ]:
train_df_encode.head(5)

In [ ]:
train_df_encode.to_csv("train_df_encode.csv", index=False)