In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import cross_validate
import tensorflow as tf

In [2]:
train_df = pd.read_csv("./C01_train_encoded.csv")
#train_df.info()

In [3]:
train_df.head(10)

,datetime,y,year,month,day,week,dayofweek,soldout,kcal_fill_median,kcal_fill_mean,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90.0,2013,11,18,47,0,0,412.0,407.381188,0.0,0.0,0.0,1.0,0.0,19.8
1,2013-11-19,101.0,2013,11,19,47,1,1,412.0,407.381188,0.0,0.0,0.0,1.0,0.0,17.0
2,2013-11-20,118.0,2013,11,20,47,2,0,412.0,407.381188,0.0,0.0,0.0,1.0,0.0,15.5
3,2013-11-21,120.0,2013,11,21,47,3,1,412.0,407.381188,0.0,0.0,0.0,1.0,0.0,15.2
4,2013-11-22,130.0,2013,11,22,47,4,1,412.0,407.381188,0.0,0.0,0.0,1.0,0.0,16.1
5,2013-11-25,135.0,2013,11,25,48,0,1,412.0,407.381188,0.0,0.0,0.0,4.0,0.0,14.6
6,2013-11-26,145.0,2013,11,26,48,1,0,412.0,407.381188,0.0,0.0,0.0,1.0,0.0,17.9
7,2013-11-27,140.0,2013,11,27,48,2,1,412.0,407.381188,0.0,0.0,0.0,2.0,0.0,14.7
8,2013-11-28,151.0,2013,11,28,48,3,0,412.0,407.381188,0.0,0.0,0.0,3.0,0.0,17.7
9,2013-11-29,116.0,2013,11,29,48,4,0,412.0,407.381188,0.0,0.0,0.0,1.0,0.0,12.1

In [4]:
train_data = train_df.values
X = train_data[:, 2:]  # id,正解データ列以外を抽出
Y = train_data[:, 1]  # 正解データ列のみ抽出

In [5]:
X.shape

(207, 14)

In [6]:
Y.shape

(207,)

In [ ]:
#Y[Y[0] == 1].sum() / Y.size

In [ ]:
num_classes = 1

# I used LabelEncoder for convert list[0.0, 1.0, 1.0] to list[0, 1, 1]
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
Y = label_encoder.fit_transform(Y)

from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=6, shuffle=True)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

model = Sequential()
model.add(Dense(1024, input_dim=X.shape[1], activation='sigmoid'))
model.add(Dropout(0.5))
model.add(Dense(512, activation='sigmoid'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='sigmoid')) # softmax/sigmoid

model.compile(optimizer='adam',
#              loss='sparse_categorical_crossentropy',
#              loss='categorical_crossentropy',
              loss='binary_crossentropy',
              metrics=['accuracy'])

# Cross-Validation
for train, valid in kfold.split(X, Y):
    model.fit(X[train], Y[train], epochs=1)
    loss, accuracy = model.evaluate(X[valid], Y[valid])
    print("loss = {:.2f}".format(loss))
    print("acc = {:.2f}".format(accuracy))

In [ ]:
test_df = pd.read_csv("./C01_test_encoded.csv")
#test_df.info()

In [ ]:
test_df.head(5)

In [ ]:
test_data = test_df.values
xs_test = test_data[:, 2:]

In [ ]:
y_test = model.predict(xs_test, verbose=1)
#y_test = model.predict_proba(xs_test, batch_size=1000, verbose=1)

In [ ]:
y_test.shape

In [ ]:
y_test[0:20,:]

In [ ]:
y_test[y_test[:,0] >= 0.815].size / y_test.size

In [ ]:
y_test[y_test[:,0] < 0.815].size

In [ ]:
y_test[y_test[:,0] < 0.815]

In [ ]:
Submission = pd.DataFrame()
Submission["id"] = test_df["id"].astype(str)
Submission["project_is_approved"] = y_test.astype(str)

In [ ]:
import csv
Submission.to_csv("D01_Submission_10.csv", quoting=csv.QUOTE_NONNUMERIC , quotechar='"', index=False)