In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import cross_validate
from xgboost import XGBClassifier
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [2]:
train_test_df = pd.read_csv("./B02.csv")
train_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 12 columns):
datetime         247 non-null object
y                207 non-null float64
week             247 non-null object
soldout          247 non-null int64
name             247 non-null object
kcal             202 non-null float64
remarks          28 non-null object
event            17 non-null object
payday           12 non-null float64
weather          247 non-null object
precipitation    247 non-null object
temperature      247 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 23.2+ KB

In [3]:
train_test_df.isnull().sum()

datetime           0
y                 40
week               0
soldout            0
name               0
kcal              45
remarks          219
event            230
payday           235
weather            0
precipitation      0
temperature        0
dtype: int64

In [4]:
from my_modules.my_encoder import CategoryValueEncoder as CVE
from my_modules.my_encoder import TextValueEncoder as TVE
from my_modules.my_encoder import DateValueEncoder as DVE
from my_modules.my_encoder import NumericValueEncoder as NVE

encode_df = pd.DataFrame()

# temporary valiable
datetime = pd.to_datetime(train_test_df['datetime'])
week = datetime.dt.week

# Submition columns
encode_df['datetime'] = train_test_df['datetime']
encode_df['y'] = train_test_df['y']

# train date coloumns
#encode_df['year'] = datetime.dt.year
#encode_df['month'] = datetime.dt.month
date_interval = datetime.subtract(datetime[0])
encode_df['dateinterval'] = NVE(date_interval.astype(int) / (864 * 10**11) + 1).normalize()
encode_df['dayofmonth'] = NVE(datetime.dt.day).normalize()
encode_df['weekofyear'] = NVE(week.apply(lambda x: x + 52 if x < 47 else x)).normalize()
encode_df['dayofweek'] = NVE(datetime.dt.dayofweek).normalize()

# train some coloumns
encode_df['soldout'] = train_test_df['soldout'] + 0.001
encode_df['kcal_fill_median'] = NVE(train_test_df['kcal'].fillna(train_test_df['kcal'].median())).normalize()
encode_df['kcal_fill_mean'] = NVE(train_test_df['kcal'].fillna(train_test_df['kcal'].mean())).normalize()
#encode_df['remarks'] = train_test_df['remarks'].fillna(0.0).apply(lambda x: 1.0 if x != 0.0 else 0.0)
#encode_df['event'] = train_test_df['event'].fillna(0.0).apply(lambda x: 1.0 if x != 0.0 else 0.0)
encode_df['remarks'] = CVE(train_test_df['remarks']).to_label_encoding() + 0.001
encode_df['event'] = CVE(train_test_df['event']).to_label_encoding() + 0.001
encode_df['payday'] = train_test_df['payday'].fillna(0.0) + 0.001


# train weather coloumns
weather = train_test_df['weather'].map( {'快晴': 1.0, '晴れ': 2.0, 
                                                '薄曇': 3.0, '曇': 4.0,
                                                '雪': 5.0, '雨': 8.0, '雷電': 10.0
                                               } ).astype(float)
encode_df['weather'] = NVE(weather).normalize()                       
encode_df['precipitation'] = NVE(train_test_df['precipitation'].replace('--', '0').astype(float)).normalize()
encode_df['temperature'] = NVE(train_test_df['temperature']).normalize()

In [5]:
encode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 15 columns):
datetime            247 non-null object
y                   207 non-null float64
dateinterval        247 non-null float64
dayofmonth          247 non-null float64
weekofyear          247 non-null float64
dayofweek           247 non-null float64
soldout             247 non-null float64
kcal_fill_median    247 non-null float64
kcal_fill_mean      247 non-null float64
remarks             247 non-null float64
event               247 non-null float64
payday              247 non-null float64
weather             247 non-null float64
precipitation       247 non-null float64
temperature         247 non-null float64
dtypes: float64(14), object(1)
memory usage: 29.0+ KB

In [6]:
encode_df.head(200)

,datetime,y,dateinterval,dayofmonth,weekofyear,dayofweek,soldout,kcal_fill_median,kcal_fill_mean,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90.0,0.32,0.52,0.34,0.35,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.51
1,2013-11-19,101.0,0.33,0.53,0.34,0.42,1.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.47
2,2013-11-20,118.0,0.33,0.54,0.34,0.50,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.45
3,2013-11-21,120.0,0.33,0.56,0.34,0.57,1.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.45
4,2013-11-22,130.0,0.33,0.57,0.34,0.64,1.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.46
5,2013-11-25,135.0,0.33,0.60,0.34,0.35,1.001,0.51,0.50,0.001,0.001,0.001,0.54,0.48,0.44
6,2013-11-26,145.0,0.33,0.61,0.34,0.42,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.48
7,2013-11-27,140.0,0.33,0.62,0.34,0.50,1.001,0.51,0.50,0.001,0.001,0.001,0.45,0.48,0.44
8,2013-11-28,151.0,0.33,0.64,0.34,0.57,0.001,0.51,0.50,0.001,0.001,0.001,0.49,0.48,0.48
9,2013-11-29,116.0,0.34,0.65,0.34,0.64,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.41
10,2013-12-2,151.0,0.34,0.34,0.35,0.35,1.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.43
11,2013-12-3,153.0,0.34,0.35,0.35,0.42,1.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.43
12,2013-12-4,151.0,0.34,0.36,0.35,0.50,1.001,0.51,0.50,0.001,0.001,0.001,0.45,0.48,0.43
13,2013-12-5,171.0,0.34,0.37,0.35,0.57,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.43
14,2013-12-6,134.0,0.34,0.38,0.35,0.64,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.45
15,2013-12-9,165.0,0.34,0.42,0.36,0.35,1.001,0.51,0.50,0.001,0.001,0.001,0.54,0.48,0.38
16,2013-12-10,155.0,0.35,0.43,0.36,0.42,0.001,0.51,0.50,0.001,0.001,1.001,0.54,0.56,0.35
17,2013-12-11,157.0,0.35,0.44,0.36,0.50,0.001,0.51,0.50,0.001,0.001,0.001,0.54,0.48,0.40
18,2013-12-12,109.0,0.35,0.45,0.36,0.57,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.42
19,2013-12-13,111.0,0.35,0.46,0.36,0.64,1.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.43
20,2013-12-16,160.0,0.35,0.50,0.36,0.35,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.40
21,2013-12-17,145.0,0.35,0.51,0.36,0.42,0.001,0.51,0.50,0.001,1.001,0.001,0.54,0.48,0.40
22,2013-12-18,145.0,0.35,0.52,0.36,0.50,1.001,0.51,0.50,0.001,0.001,0.001,0.54,0.48,0.36
23,2013-12-19,151.0,0.35,0.53,0.36,0.57,0.001,0.51,0.50,0.001,0.001,0.001,0.72,0.56,0.35
24,2013-12-20,134.0,0.35,0.54,0.36,0.64,1.001,0.51,0.50,0.001,0.001,0.001,0.54,0.48,0.37
25,2013-12-24,122.0,0.36,0.59,0.37,0.42,0.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.41
26,2013-12-25,121.0,0.36,0.60,0.37,0.50,1.001,0.51,0.50,0.001,0.001,0.001,0.40,0.48,0.36
27,2013-12-26,80.0,0.36,0.61,0.37,0.57,0.001,0.51,0.50,0.001,0.001,0.001,0.54,0.48,0.35
28,2014-1-7,131.0,0.37,0.39,0.38,0.42,0.001,0.48,0.49,0.001,0.001,0.001,0.40,0.48,0.35
29,2014-1-8,128.0,0.37,0.41,0.38,0.50,0.001,0.71,0.71,0.001,0.001,0.001,0.54,0.48,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2014-8-4,75.0,0.56,0.36,0.58,0.35,1.001,0.51,0.51,0.001,0.001,0.001,0.54,0.48,0.67
171,2014-8-5,54.0,0.57,0.37,0.58,0.42,1.001,0.47,0.47,0.001,0.001,0.001,0.40,0.48,0.69
172,2014-8-6,58.0,0.57,0.38,0.58,0.50,1.001,0.51,0.51,0.001,0.001,0.001,0.40,0.48,0.69
173,2014-8-7,63.0,0.57,0.39,0.58,0.57,0.001,0.53,0.53,0.001,0.001,0.001,0.45,0.48,0.66
174,2014-8-8,129.0,0.57,0.41,0.58,0.64,0.001,0.51,0.50,3.001,0.001,1.001,0.54,0.48,0.65
175,2014-8-11,45.0,0.57,0.44,0.59,0.35,0.001,0.51,0.51,0.001,0.001,0.001,0.45,0.48,0.66
176,2014-8-12,40.0,0.57,0.45,0.59,0.42,1.001,0.47,0.47,0.001,0.001,0.001,0.72,0.48,0.63
177,2014-8-18,56.0,0.58,0.52,0.59,0.35,0.001,0.45,0.46,0.001,0.001,0.001,0.54,0.48,0.66
178,2014-8-19,53.0,0.58,0.53,0.59,0.42,1.001,0.41,0.41,0.001,0.001,0.001,0.45,0.48,0.68
179,2014-8-20,56.0,0.58,0.54,0.59,0.50,0.001,0.56,0.56,4.001,1.001,0.001,0.40,0.48,0.68
180,2014-8-21,54.0,0.58,0.56,0.59,0.57,0.001,0.49,0.49,0.001,2.001,0.001,0.49,0.48,0.67
181,2014-8-22,100.0,0.58,0.57,0.59,0.64,1.001,0.51,0.50,3.001,0.001,0.001,0.45,0.48,0.67
182,2014-8-25,55.0,0.58,0.60,0.60,0.35,0.001,0.51,0.52,0.001,0.001,0.001,0.54,0.48,0.58
183,2014-8-26,68.0,0.58,0.61,0.60,0.42,0.001,0.47,0.47,0.001,0.001,0.001,0.72,0.48,0.59
184,2014-8-27,62.0,0.59,0.62,0.60,0.50,0.001,0.51,0.51,0.001,0.001,0.001,0.54,0.48,0.52
185,2014-8-28,56.0,0.59,0.64,0.60,0.57,0.001,0.45,0.46,0.001,0.001,0.001,0.72,0.48,0.53
186,2014-8-29,39.0,0.59,0.65,0.60,0.64,0.001,0.46,0.46,0.001,0.001,0.001,0.54,0.48,0.57
187,2014-9-1,65.0,0.59,0.33,0.60,0.35,1.001,0.39,0.39,0.001,0.001,0.001,0.54,0.48,0.55
188,2014-9-2,68.0,0.59,0.34,0.60,0.42,1.001,0.62,0.63,5.001,0.001,0.001,0.45,0.48,0.62
189,2014-9-3,53.0,0.59,0.35,0.60,0.50,0.001,0.50,0.50,0.001,0.001,0.001,0.54,0.48,0.59
190,2014-9-4,54.0,0.59,0.36,0.60,0.57,1.001,0.49,0.49,0.001,0.001,0.001,0.54,0.48,0.59
191,2014-9-5,43.0,0.59,0.37,0.60,0.64,0.001,0.39,0.39,0.001,0.001,0.001,0.45,0.48,0.64
192,2014-9-8,68.0,0.60,0.41,0.61,0.35,1.001,0.41,0.41,0.001,0.001,0.001,0.54,0.48,0.55
193,2014-9-9,63.0,0.60,0.42,0.61,0.42,0.001,0.70,0.70,0.001,0.001,0.001,0.45,0.48,0.59
194,2014-9-10,54.0,0.60,0.43,0.61,0.50,0.001,0.66,0.67,0.001,0.001,1.001,0.54,0.48,0.57
195,2014-9-11,53.0,0.60,0.44,0.61,0.57,0.001,0.41,0.41,0.001,0.001,0.001,0.54,0.48,0.53
196,2014-9-12,115.0,0.60,0.45,0.61,0.64,0.001,0.51,0.50,3.001,0.001,0.001,0.45,0.48,0.60
197,2014-9-16,56.0,0.60,0.50,0.62,0.42,0.001,0.62,0.62,0.001,0.001,0.001,0.45,0.48,0.62
198,2014-9-17,49.0,0.60,0.51,0.62,0.50,0.001,0.58,0.59,4.001,1.001,0.001,0.54,0.48,0.57
199,2014-9-18,46.0,0.61,0.52,0.62,0.57,0.001,0.45,0.45,0.001,0.001,0.001,0.54,0.48,0.56

In [7]:
encode_df[190:210]

,datetime,y,dateinterval,dayofmonth,weekofyear,dayofweek,soldout,kcal_fill_median,kcal_fill_mean,remarks,event,payday,weather,precipitation,temperature
190,2014-9-4,54.0,0.59,0.36,0.60,0.57,1.001,0.49,0.49,0.001,0.001,0.001,0.54,0.48,0.59
191,2014-9-5,43.0,0.59,0.37,0.60,0.64,0.001,0.39,0.39,0.001,0.001,0.001,0.45,0.48,0.64
192,2014-9-8,68.0,0.60,0.41,0.61,0.35,1.001,0.41,0.41,0.001,0.001,0.001,0.54,0.48,0.55
193,2014-9-9,63.0,0.60,0.42,0.61,0.42,0.001,0.70,0.70,0.001,0.001,0.001,0.45,0.48,0.59
194,2014-9-10,54.0,0.60,0.43,0.61,0.50,0.001,0.66,0.67,0.001,0.001,1.001,0.54,0.48,0.57
195,2014-9-11,53.0,0.60,0.44,0.61,0.57,0.001,0.41,0.41,0.001,0.001,0.001,0.54,0.48,0.53
196,2014-9-12,115.0,0.60,0.45,0.61,0.64,0.001,0.51,0.50,3.001,0.001,0.001,0.45,0.48,0.60
197,2014-9-16,56.0,0.60,0.50,0.62,0.42,0.001,0.62,0.62,0.001,0.001,0.001,0.45,0.48,0.62
198,2014-9-17,49.0,0.60,0.51,0.62,0.50,0.001,0.58,0.59,4.001,1.001,0.001,0.54,0.48,0.57
199,2014-9-18,46.0,0.61,0.52,0.62,0.57,0.001,0.45,0.45,0.001,0.001,0.001,0.54,0.48,0.56
200,2014-9-19,45.0,0.61,0.53,0.62,0.64,0.001,0.47,0.47,0.001,0.001,0.001,0.49,0.48,0.56
201,2014-9-22,29.0,0.61,0.57,0.62,0.35,0.001,0.45,0.45,0.001,0.001,0.001,0.45,0.48,0.57
202,2014-9-24,59.0,0.61,0.59,0.62,0.50,1.001,0.50,0.50,0.001,0.001,0.001,0.54,0.48,0.57
203,2014-9-25,50.0,0.61,0.60,0.62,0.57,0.001,0.44,0.45,0.001,0.001,0.001,0.54,0.48,0.58
204,2014-9-26,45.0,0.61,0.61,0.62,0.64,0.001,0.51,0.50,6.001,2.001,0.001,0.45,0.48,0.60
205,2014-9-29,56.0,0.62,0.65,0.63,0.35,1.001,0.48,0.49,0.001,0.001,0.001,0.40,0.48,0.59
206,2014-9-30,40.0,0.62,0.66,0.63,0.42,0.001,0.46,0.46,0.001,0.001,0.001,0.40,0.48,0.61
207,2014-10-1,NaN,0.62,0.33,0.63,0.50,1.001,0.55,0.55,0.001,0.001,0.001,0.72,0.48,0.51
208,2014-10-2,NaN,0.62,0.34,0.63,0.57,0.001,0.53,0.53,0.001,0.001,0.001,0.54,0.48,0.56
209,2014-10-3,NaN,0.62,0.35,0.63,0.64,0.001,0.49,0.49,0.001,0.001,0.001,0.45,0.48,0.62

In [8]:
train_df = encode_df[:207]

In [9]:
train_df.to_csv("C01_train_encoded.csv", index=False)

In [10]:
test_df = encode_df[207:]

In [11]:
test_df.to_csv("C01_test_encoded.csv", index=False)